.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html {
  scroll-behavior: smooth;
}


/* Prevent overflow on body and html */
html, body {
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */
}






/* Stop all scrolling */
html, body {
  overflow: hidden; /* Prevent any scrolling */
  height: 100vh; /* Fix height to viewport */
  margin: 0;
  padding: 0;
}
